<button type="button" class="close" data-dismiss="modal">×</button>
<h4><span id="<%= response_type + "_" %>response_title"><%= title %></span></h4>
<em><span id="<%= response_type + "_" %>response_author"><%= author %></span></em> <br />
Status: <%=status%>