<% if @current_user.id.to_i.eql?(@user.id.to_i) %>
	<div class="pull-right btn-adjust">		    	
	    <%= link_to "Edit Library", {:controller => "users", :action => "books"}, :class => "btn btn-primary" %>
	</div>	
	<h3 class="heading">My Library</h3>
<!-- DEPRACATED CODE POSSIBLY, since it no longer links to this page from the other users' toolbar. -->
<% else %>
	<h3 class="heading"><%= @user.possessive %> Library</h3>
<% end %>

<% if @user.books.empty? %>
	<div class="empty-warning">
		<p>
			You don't seem to have any books in your library, click
			<%= link_to "here", :controller => "books", :action => "new" %>
			to add some books!
		</p>
	</div>
<% else %>

	<table class="table table-bordered">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<!-- REQUESTS REMOVED FOR NOW 
			<th>Current Status</th>	
			-->
		</tr>
		<% @user.books.each do |b| %>
			<tr>
				<td><%= link_to b.title, :controller => "books", :action => "show", :id => b.id %></td>
				<td><%= b.author%></td>
				<!-- REQUESTS REMOVED FOR NOW 
				<td>
					Available 
					<% if !@user.id.eql?(@current_user.id) %> <a href="#request_maker_modal" class="btn btn-success" data-toggle="modal" onclick="r.getModal(<%=@current_user.id%>,<%=@user.id%>,<%=b.id%>)">Request</a><%end%> 
				</td>
				-->
			</tr>
		<% end %>
	</table>
<% end %>