

<% if @current_user.id.to_i.eql?(@user.id.to_i) %>
	<div class="pull-right btn-adjust">		    	
	    <%= link_to "Edit Library", {:controller => "users", :action => "books"}, :class => "btn btn-primary" %>
	</div>	
	<h3 class="heading">My Library</h3>
<!-- DEPRACATED CODE POSSIBLY, since it no longer links to this page from the other users' toolbar. -->
<% else %>
	<h3 class="heading"><%= @user.possessive %> Library</h3>
<% end %>

<% if @user.books.empty? %>
	<div class="empty-warning">
		<p>
			You don't seem to have any books in your library, click
			<%= link_to "here", :controller => "books", :action => "new" %>
			to add some books!
		</p>
	</div>
<% else %>
	<script type="text/javascript">
		var r = new RequestMessenger();
	</script>
	<table class="table table-bordered">
		<tr>
			<th>Book</th>			
			<th>Status</th>
			<!-- REQUESTS REMOVED FOR NOW 
			<th>Current Status</th>	
			-->
		</tr>
		<% @user.library_records.each do |l| %>
			<tr>
				<td>
					<%= link_to l.book.title, :controller => "books", :action => "show", :id => l.book.id %><br />
					<em><%= l.book.author %></em>
				</td>				
				<td>
					<% if l.status.eql?("Available") && Request.where("requester_user_id = ? AND owner_user_id = ? AND library_record_id = ?", @current_user.id, @user.id, l.id).empty? %>
					<a href="#request_messenger_modal" class="btn btn-success" data-toggle="modal" onclick="r.getRequestModal(<%=@current_user.id%>,<%=@user.id%>,<%=l.id%>)">Request</a>
					<% elsif !Request.where("requester_user_id = ? AND owner_user_id = ? AND library_record_id = ? AND status = ?", @current_user.id, @user.id, l.id, "Awaiting Response").empty? %>
						Requested
					<% else %>
						<%=  l.status %>
					<% end %>
				</td>				
			</tr>
		<% end %>
	</table>
<% end %>