
<% if @current_user.defaultLocation.empty? %>
	<div class="alert alert-warning">
		<p>In order to facilitate exchanges, you must set a location so people know where they can borrow books from you.  Click <a href="#location_modal" data-toggle="modal" onclick="l.getModal(<%= @current_user.id %>);">here</a> to get started.</p>
	</div>
	<script type="text/javascript">
		var l = new LocationManager();
	</script>
<% end %>

<!-- errors/alerts -->
<%= render :partial => "layouts/flash_messages" %>

<!-- toolbar -->
<%= render :partial => "toolbar" %>
<div class="container-fluid" id="profile-container">
	<div class="row">
		<!-- left side -->
		<div class="span3" id="profile-details">
			<%= render "user_profile_box"%>
		</div>
		
		<!-- right main -->
		<div class="span8" id="profile-details">
			<!-- user books -->
			<div class="container-fluid text-container">
				<div class="pull-right library-options-adjust">		    						
					<%= link_to "Add", new_book_path, :class => "" %>
				    <%= link_to "Edit", '#', :class => "", :id => "editButton" %>

				</div>	
				<h3 class="heading">My Library</h3>
				<% if @current_user.books.empty? %>
					<div class="empty-warning">
						<p>
							You don't seem to have any books in your library, click
							<%= link_to "here", :controller => "books", :action => "new" %>
							to add some books!
						</p>
					</div>
				<% else %>					
					<table class="table table-bordered book-display">					
						<% @user.library_records.each do |l| %>
							<tr>
								<td class="bdisplay">
									<div class="book-listing clearfix">
										<div class="book-thumb">
											<%= link_to book_path(l.book.id) do %>
												<%= image_tag l.book.thumbnail_link, :class => "thumb in-profile" %>
											<% end %>
										</div>
										<div class="title-offset ti-long">
											<%= link_to l.book.title, book_path(l.book.id), :class => "btitle" %>
											<br />
											<em><%= l.book.author %></em>					
										</div>
										<div class="button-listing button-hide clearfix">
											<a class="btn btn-danger" data-toggle="modal" href="#remove_book_modal" onclick="br.getModal(<%= l.book.id %>)">Remove Book</a>
										</div>	
									</div>							
								</td>
							</tr>
						<% end %>
					</table>					
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var xkcd = new ButtonAdder('editButton', 'Edit'); // is this line neccesary?
	var br = new BookRemover(<%= @current_user.id %>);	
</script>
