<!-- toolbar -->
<%= render :partial => "toolbar" %>

<!-- main stuff -->
<%= render :partial => "layouts/flash_messages" %>

<div class="container-fluid" id="profile-container">
	<div class="row-fluid">
		<div class="span12 container-fluid text-container" id="profile-details">
			<h3 class="heading">My Requests</h3>	
			<div class="row-fluid tabbable">		
				<ul class="nav nav-pills" id="requestsTabs">
					<li class="active"><a href="#active" data-toggle="tab">Active</a></li>
					<li><a href="#inactive" data-toggle="tab">Inactive</a></li>
					<li><a href="#loaned" data-toggle="tab">On Loan</a></li>
					<li><a href="#completed" data-toggle="tab">Completed</a></li>
				</ul>

				<div class="tab-content">
		    	<div class="tab-pane active" id="active">
		    		<%= render :partial => "book_entries", :locals => { :request_set => @active_requests } %>
		    	</div>
		    	<div class="tab-pane" id="inactive">
		    		<%= render :partial => "book_entries", :locals => { :request_set => @inactive_requests } %>
		    	</div>
		    	<div class="tab-pane" id="loaned">
		    		<%= render :partial => "book_entries", :locals => { :request_set => @loaned } %>
		    	</div>
		    	<div class="tab-pane" id="completed">
		    		<%= render :partial => "book_entries", :locals => { :request_set => @completed } %>
		    	</div>
		    </div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var r = new RequestMessenger();
</script>