<%= form_for(:request, :url => :requests, :method =>:post, :html=>{:class=>"form-horizontal", :id=>"request_form"}) do |f| %>
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a>  
		<h3><%= message_header %></h3>  
	</div>  
	<div class="modal-body">  
		<%= render :partial => "layouts/flash_messages" %>
		<div class="row-fluid tabbable">		
			<% if request.status.eql?("Awaiting Response")  && request.owner.eql?(@current_user) %>
				<ul class="nav nav-pills" id="requestsTabs">
					<li class="active">
						<a id="messages_toggle" href="#messaging" data-toggle="tab">Messages</a>
					</li>
					<li>
						<a id="respond_toggle" href="#responding" data-toggle="tab">Respond</a>
					</li>
				</ul>
			<% end %>
			<% if showPreviousMessages %>
				<div class="well">
					<h3>Previous Messages:</h3>
					<% request.request_comments.each do |c| %>
						<div>
							<p><b><%= c.user.first_name %></b>: <%= c.comment %>  </p>
						</div>	
					<% end %>
				</div>
			<% end %>	
			<div class="tab-content">
				<div id="messaging" class="tab-pane active">
					<p><%= message_prompt %></p> 			
					<%= text_area :request_comment, :comment, :id=>"comment", :class=>"input-xlarge", :rows=>7, :style=>"width:520px", :value=> default_message %>
					<%= hidden_field :request_comment, :user_id, :id=>"request_comment_user_id", :value => sender.id %>		
					<%= hidden_field :request_comment, :request_id, :id=>"request_id", :value => request.id %>
				</div>
				<div id="responding" class="tab-pane">
					<p>Do you want to let <%= request.requester.first_name%> borrow <%= request.book.title %>?</p> 				
		
					<%= f.hidden_field :request_id, :id=>"request_id", :value => request.id %>
				</div>
			</div>
		</div>	
	</div>  
	<div class="modal-footer" id="modal_footer">  
		<a href="#" id="send" class="btn btn-success">Send</a>  	
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>  	
	</div>  
<%end%>
					