<%= form_for(:request, :url => :requests, :method =>:post, :html=>{:class=>"form-horizontal", :id=>"request_form"}) do |f| %>
	<div class="modal-header">  
		<a class="close" data-dismiss="modal">×</a>  
		<h3>Request <%= @book.title %> from <%=@user.first_name%>?</h3>  
	</div>  
	<div class="modal-body">  
		
		
		<% if !flash[:error].nil? %>
			<div class="alert alert-error">
				<%= flash[:error] %>
			</div>
		<% end %>		
		<p>Leave a personal message?</p> 			
		<%= text_area :request_comment, :comment, :id=>"comment", :class=>"input-xlarge", :rows=>7, :style=>"width:500px", :value=>"Hi " + @user.first_name + ",\n\nCan I borrow " + @book.title + " from you?\n\n -" + @current_user.first_name %>
		<%= hidden_field :request_comment, :user_id, :id=>"request_comment_user_id", :value => requester_user_id %>
		<%= f.hidden_field :requester_user_id, :id=>"requester_user_id", :value => requester_user_id %>
		<%= f.hidden_field :owner_user_id, :id=>"owner_user_id", :value => owner_user_id %>
		<%= f.hidden_field :book_id, :id=>"book_id", :value => book_id %>
		
	</div>  
	<div class="modal-footer">  
		<a href="#" id="request_button" class="btn btn-success">Request</a>  
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>  
	</div>  
<%end%>
					