<% books.each do |b| %>
	<% if b.title && b.isbn && b.asin && b.thumbnail_link %>
		<div class="bookobj clearfix">
			<a href="/books<%= (!searching) ? '/' + b.id.to_s : '?id=' + b.asin.to_s %>" class="link">
				<%= image_tag b.thumbnail_link, :class => "thumb span1" %>
				<div class="book-info span9 offset1">
					<h4><%= b.title %></h4>
					<em><%= b.author %></em>
					<% # <p>Status: Available</p> %>
					<% if searching %><p>ISBN: <%= b.isbn %></p> <% end %>
				</div>
			</a>

			<div class="span2 offset10">
				<% if searching %>
					<a class="btn btn-primary add_book_button" href="#" id="<%= b.asin %>">Add Book</a>
				<% elsif !@user.id.eql?(@current_user.id) %> 
					<% # requests were here, but are no longer an option %>
				<% else %>
					<a class="btn btn-danger" data-toggle="modal" href="#remove_book_modal" onclick="br.getModal(<%= b.id %>)">Remove Book</a>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>

<% if !searching %>
<script type="text/javascript">
	var br = new BookRemover(<%= @current_user.id %>);
</script>
<% else %>

<% end %>
